@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
  }

  .weather {
    background-image: 
      linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
      url("./assets/bg-weather.jpg");
  }

  .traffic {
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), 
      url("./assets/bg-traffic.jpg");
  }

  .noche-despejado {
    background-image: url("./assets/noche-despejado.png");
  }

  .noche-nublado {
    background-image: url("./assets/noche-nublado.png");
  }

  .noche-niebla {
    background-image: url("./assets/noche-niebla.png");
  }

  .noche-lluvioso {
    background-image: url("./assets/noche-lluvioso.png");
  }

  .noche-nieve {
    background-image: url("./assets/noche-nieve.png");
  }

  .noche-tormenta {
    background-image: url("./assets/noche-tormenta.png");
  }

  .dia-despejado {
    background-image: url("./assets/dia-despejado.png");
  }

  .dia-nublado {
    background-image:
      linear-gradient(to bottom, rgba(252, 252, 252, 0.3), rgba(252, 252, 252, 0.1)),
      url("./assets/dia-nublado.png");
  }

  .dia-niebla {
    background-image: url("./assets/dia-niebla.png");
  }

  .dia-lluvioso {
    background-image:
      linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url("./assets/dia-lluvioso.png");
  }

  .dia-nieve {
    background-image: url("./assets/dia-nieve.png");
  }

  .dia-tormenta {
    background-image: 
      linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url("./assets/dia-tormenta.png");
  }

  .custom-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}