@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
  }

  .daytime {
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), 
      url("./assets/bg-image-daytime.jpg");
  }
  
  .nighttime {
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), 
      url("./assets/bg-image-nighttime.jpg");
  }

  .weather {
    background-image: 
      linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), 
      url("./assets/bg-weather.jpg");
  }

  .traffic {
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), 
      url("./assets/bg-traffic.jpg");
  }

  .custom-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}